* {
	padding: 0;
	margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

div#intro {
	background-color: green;
	width: 100%;
	height: 100%;
	position:fixed; 
	top: 0; 
	left: 0;
	z-index: 200;
}


div#intro button {
	padding: 2em;
	display: block;
	margin: auto;
	border-radius: 7px;
	border: none;
	margin-top: 7em;
}

div#intro header h1 {
	color: #ffdc00;
	font-family:'PPJungleBonesW00-Regula';
	font-size: 4.5em;
	font-weight: 200;
	
}

/*div#quizPage {
	display: none;
}*/


body {
	background-color: green;
	background-image: url('../img/rainforest_02_blur.jpg');
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	padding-bottom: 250px; 
}


header {
width: 100%;
background-color: rgba(34, 51, 30, .8);
text-align: center;
padding:1em;
}


/*font-family:'Carve W01 Regular';
font-family:'PPJungleBonesW00-Regula';
font-family:'Rainforest W00 Inline';
font-family:'Rainforest W00 Regular';
font-family:'AvenirNextLTW01-Regular';
font-family:'Avenir Next LT W01 Demi';
*/


header h1 {
	color: #ffdc00;
	font-family:'PPJungleBonesW00-Regula';
	font-size: 3.5em;
	font-weight: 200;
}

section#questionHolder {
	max-width: 500px;
	margin: auto;
	margin-top: 1em;
}


div.question {
	background-color: #fffde1;
	width: 100%;
	padding: 3% 5% 5% 5%;
	border: solid 2px rgb(34, 51, 30);
	border-radius: 10px;
	font-family:'AvenirNextLTW01-Regular';
	color: #111111;
	min-height:400px;
}

div.question h2 {
	text-align: center;
	color: #d5652c;
	font-family:'Avenir Next LT W01 Demi';
	font-weight: 600;
	font-size: 1.8em;
	margin-bottom: .25em
}

fieldset {
	border: 0 none;
}

legend {
	border: 0 none;
	border-color: green;
	font-size: 1.4em;
	text-align: center;
	margin-bottom: .5em;
}


label {
	display: block;
	line-height: 2.15;
	font-size: 1.25em;
	cursor: pointer;					
}

label em {
		font-family:'Avenir Next LT W01 Demi';
		font-style: normal;
}

/* ***********************************
technique on styling accessible radio buttons
by Heydon Pickering sen on sitepoint article
**************************************  */



[type="radio"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}




[type="radio"] + span {
	display: block;
}

[type="radio"] + span:before {
	display: inline-block;
	content: '';
	width: 1em;
	height: 1em;
	vertical-align: -.25em;
	border-radius: 1em;
	border: .125em solid #fff;
	box-shadow: 0 0 0 1px green;
	margin-right: 1em;
	margin-left: .5em;
	transition: .5s ease all;
}

[type="radio"]:checked + span:before {
	background: green;
	box-shadow: 0 0 0 2px green;
}

[type="radio"]:focus + span {	
	outline: dashed .125em #888;

}


[type="submit"], div#intro button, button.nextQ, 
button.showScore, button.retakeQuiz {
	background-color: #d5652c;
	display: block;
	margin: auto;
	padding: .75em 1em;
	border: none;
	border-radius: 7px;
	font-family:'Avenir Next LT W01 Demi';
	color: white;
	font-size: 1.25em;
	margin-top: 1em;
	cursor: pointer;
}

div#intro button {
	border: solid 2px #fff;
	font-size: 2em;
	border-radius: 13px;
}

button.showScore {
	outline: solid 2px #red;
}

[type="submit"]:hover, div#intro button:hover, 
button.nextQ:hover, button.showScore:hover,
button.retakeQuiz:hover {
	text-decoration: underline;
	background-color: #6fb353;

}


section.progressBar {
	max-width: 500px;
	margin: auto;
	margin-top: 1em;
	background-color: rgba(0, 94, 57, 1.0);
	height: 80px;
	border-radius: 7px;
	position: relative;
	border: 1px solid rgba(250, 250, 250, .5);
}

section.progressBar h2 {
	text-align: center;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family:'Avenir Next LT W01 Demi';
	font-size: 1.25em;
	margin-top:.25em;
	position:absolute;
}

div.barSection {
	float: left;
	width: 25%;
	height:50%;
	border-right: 1px solid rgba(250, 250, 250, .5);
	margin-top:8%;
}

div.barSection:last-child {
	border:none;
} 


.answer {
	display: none;
}


h3.rightWrong {
	font-family:'Avenir Next LT W01 Demi';
	font-size: 2em;
	color: #71a03d;
	margin-bottom:.35em;
}

p.answerDetails {
	font-size: 1.25em;
	line-height: 1.3;
	margin-bottom: 3em;
}

